<?xml version="1.0" encoding="UTF-8"?>
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-ping-tests"
    version="0.2.0">
    <name>Ping Tests</name>
    <license>Apache 2.0</license>

    <js-module src="tests.js" name="tests">
    </js-module>
  </plugin>
